@import url("root.css");

* {
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    background-color: var(--primaryBackground);
    max-width: 100vw;
    /* overflow: hidden; */
}
/****************** Default Dark (Naruto) theme *******************/
/* .naruto {
    background-color: var(--narutoBackground);
} */
/****************** Light (Hyuga) theme *******************/
/* .hyuga {
    background-color: var(--hyugaBackground);
} */
/****************** Itachi Uchiha theme *******************/
/* .uchiha {
    background-color: #000;

    div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid red;
    }
} */
